body{
    margin: 0;
}
/*Section-1 style*/
.section-1{
    background-color: #1F2937;
    width: 100%;
    height:500px ;
}
.logo-header{
    border-radius: 10%;
    size: 50px;
    width: 80px;   
    height: 80px;
    margin-top: 20px;
    margin-left: 120px;
}
.nav{
    display: flex;
    
}
nav ul{
    margin-top: 25px;
    display: flex;
    margin-left: 50%;
    gap:20px;
    font-size: 20px;
    color: #E5E7EB;
    list-style: none;
}
h1{
    font-size: 48px;
    color: #F9FAF8;
    width: 300px;
    margin-top: 70px;
}

.section-1 p{
    font-size: 24px;
    color:#E5E7EB;
    width: 500px;
    margin-top: -30px;
}
.section-1 button{
    background-color: #3882F6;
    color:#F9FAF8 ;
    font-size: 18px;
    border-radius: 25px;
    padding:8px;
    width: 130px;
    border-color: #F9FAF8;
}
.container{
    display: flex;
    gap: 20px;
}
.content{
    margin-left: 120px;
}
.place-holder-img img{
    width: 520px;
    height: 250px;
    margin-top: 40px;
    border-radius: 25px;
    
}

/*ending Section-1 style ending*/

/*Section-2 style*/
.section-2{
    background-color: #f9fcfc;
    height:300px;
    
}

.section-2 h2{
 font-size: 46px ;
 font-weight:bolder;
 color: #1F2937;
 text-align: center;
}

.images-container{
    display: flex;
    justify-content: space-around;

}

.images-container img{
    width: 180px;
    height:200px;
    border-radius: 25px;
}
.images-container p{
    font-size: 20px;
    color: #1F2937;
    width: 200px;
}
/*ending Section-2 style ending*/

/*Section-3 style*/
.section-3{
    height:300px;
    background-color:#E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-3 p{
    font-size: 36px;
    font-style:italic;
    color: #1F2937;
    width: 700px;
}
/*ending Section-3 style ending*/

/*Section-4 style*/
.section-4{
    background-color: #f9fcfc;
    height:300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to-action{
    /* background-color:rgb(68, 141, 250); */
    background-color:rgb(53, 106, 250);
    height: 150px;
    width: 70%;
    border-radius: 10px;
    /* padding: 10px; */
    display: flex;
    justify-content: space-around;
}
.call-to-action h3{
    font-size: 28px;
    color: #F9FAF8;
}
.call-to-action p{
    color: #dce0d8;
    font-size: 20px;
}
.call-to-action button{
   
    border: 2px solid   #F9FAF8;
    border-radius: 10px;
    background-color: rgb(53, 106, 250);
    font-size: 20px;
    color: #F9FAF8;
    height: 40px;
    width: 120px;
    align-self: center;
}

/*ending Section-4 style ending*/

/*Footer style*/
footer{
    background-color: #1F2937;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p{
    color: #E5E7EB;
    font-size: 18px;
}
